body {
    margin: 0;
    padding: 0;
    background-color: #fffde9;
}

header {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.logo {
    font-family: Irish Grover;
    font-size: 40px;
    font-weight: 400;
    line-height: 48px;
    letter-spacing: 0em;
    text-align: left;
    background: linear-gradient(267.76deg, #BE1BE7 1.88%, #E31C64 93.56%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.logo-img {
    margin-right: -12px;
    width: 40px;
    height: 35px;
}

.img-arrow {
    width: 25px;
    height: 25px;
    top: 8px;
    left: 588px;
    border-radius: 5px;
}

#next-icon {
    width: 400px;
    height: 45px;
    border-radius: 8px;
    border: 1px solid black;
    background-color: transparent;
    color: rgb(199, 196, 196);
    padding: 15px 20px;
    text-align: left;
}

.my_form {
    display: flex;
    align-items: center;
}

/* .form-but{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 200px;
} */

.button-right {
    margin-block: 20px;
    margin-right: 45px;
}

#button-connect {
    width: 140px;
    height: 45px;
    font-family: Poppins;
    font-size: 12px;
    font-weight: 400;
    line-height: 12px;
    letter-spacing: 0em;
    text-align: center;
    color: white;
    background: linear-gradient(93.18deg, #BE1BE7 0%, #E31C64 103.47%);
    border-radius: 10px;
    /* border-image-source: linear-gradient(93.18deg, #BE1BE7 0%, #E31C64 103.47%); */
    border: 1px solid #BE1BE7;
    margin-right: 3px;
}

#eng {
    border-radius: 10px;
    border: linear-gradient(93.18deg, #BE1BE7 0%, #E31C64 103.47%);
    width: 55px;
    height: 40px;
    border: 1px solid;    
    font-family: Poppins;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0.1em;
    text-align: center;
    background-color: transparent;
    border: 1px solid #BE1BE7;
}

.human-gragh {
    width: 25px;
    height: 33px;
    padding-top: 20px;
    margin-left: 25px;
    margin-bottom: -10px;
}

.sec-harvey {
    display: flex;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.sec-harvey1 {
    width: 50%;

}

.h_child {
    color: black;
    text-transform: capitalize;
    font-family: Rock Salt;
    font-size: 48px;
    font-weight: 400;
    letter-spacing: 0.1em;
    text-align: left;
    width: 500px;
}

#best {
    color: #E31C64;

}

#best2 {
    color: #BE1BE7;
}

.p_child {
    font-family: Risque;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 0.1em;
    text-align: left;
    width: 600px;
    margin-top: -20px;
}

.sec-harvey2 {
    width: 55%;
    margin-left: -50px;
}

.sect_img {
    width: 200px;
    height: 120px;
    top: 196px;
    left: 1146px;
    border-radius: 16px;
    padding-right: 10px;
}

.sect1_img {
    width: 200px;
    height: 120px;
    top: 196px;
    left: 1146px;
    border-radius: 16px;
    padding-right: 10px;
}

.sect2_img {
    width: 200px;
    height: 120px;
    top: 196px;
    left: 1146px;
    border-radius: 16px;
}

.sect3_img {
    width: 630px;
    height: 170px;
    top: 196px;
    left: 1146px;
    border-radius: 24px;
    margin-block: 20px;
}

.third-design{
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

#button-connect1 {
    width: 140px;
    height: 45px;
    font-family: Poppins;
    font-size: 12px;
    font-weight: 400;
    line-height: 12px;
    letter-spacing: 0em;
    text-align: center;
    color: black;
    background-color: transparent;
    border-radius: 10px;
    /* border-image-source: linear-gradient(93.18deg, #BE1BE7 0%, #E31C64 103.47%); */
    border: 1px solid #BE1BE7;
    margin-right: 3px;
    margin-inline: 15px; 
}

#all {
    border-radius: 10px;
    border: linear-gradient(93.18deg, #BE1BE7 0%, #E31C64 103.47%);
    width: 95px;
    height: 45px;
    border: 1px solid;
    font-family: Poppins;
    font-size: 12px;
    font-weight: 300;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: center;
    background-color: transparent;
    border: 1px solid #BE1BE7;  
}

#all-one {
    border-radius: 10px;
    border: linear-gradient(93.18deg, #BE1BE7 0%, #E31C64 103.47%);
    width: 70px;
    height: 45px;
    border: 1px solid;
    font-family: Poppins;
    font-size: 12px;
    font-weight: 300;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: center;
    background-color: transparent;
    border: 1px solid #BE1BE7;   
    margin-right: 15px; 
}

.hr-line{
    width: 75px;
    float: left;
    margin-top: -10px;
    border: 1px solid #BE1BE7;
}

.third-sec{
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.third-sec2{
margin-left: -650px;
margin-top: 3px;
}